<h3 class="header">Product Info</h3>

<div class="row">
  <div class="col-md-4">
    <img src="http://localhost:7100/product/image/{{ product['imageFile'] }}" />
  </div>
  <div class="col-md-8">
    <h4>{{ product.title }}</h4>
    <div><strong>Brand: </strong>{{ product.brandTitle }}</div>
    <div><strong>Category: </strong>{{ product.categoryTitle }}</div>
    <div><strong>Price: </strong>{{ product.price }}</div>
    <div><strong>Description: </strong>{{ product.description }}</div>
    <hr />
    <div class="form">
      <div class="form-group">
        <div class="form-label"><h6>Review</h6></div>
        <textarea [(ngModel)]="review" rows="3" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <ngb-rating (hover)="rating = $event" [max]="5"></ngb-rating>
      </div>
      <div class="form-group">
        <button (click)="addProductReview()" class="btn btn-success">
          Submit
        </button>
      </div>
    </div>
    <hr />
    <div class="product-reviews" *ngFor="let review of reviews">
      <div class="form-group">
        <ngb-rating
          [rate]="review['rating']"
          [readonly]="true"
          [max]="5"
        ></ngb-rating>
      </div>
      <div class="form-group">
        <p>{{ review["review"] }}</p>
        <p class="date">{{ review["createdOn"] }}</p>
      </div>
      <hr />
    </div>
  </div>
</div>
